extends ./layout.jade
block contenido
	div.col-md-6.remove-float.center-block.big-top-space
		form(action="users",method="POST")
			div.form-group
				label(for="email") Email
				input.form-control(type="text", name="email", placeholder="Email", id="email")
			div.form-group
				label(for="email") Username
				input.form-control(type="text", name="username", placeholder="Nombre de usuario", id="username")
			div
				label(for="password") Contraseña
				input.form-control(type="password", name="password", placeholder="password", id="password")
			div
				label(for="password") Confirma tu Contraseña
				input.form-control(type="password", name="password_confirmation", placeholder="Confirma tu Contraseña", id="password")
			div.row.top-space
				div.col-xs-12.col-sm-6
					input.btn.btn-info(type="submit" value="Resgitrarse")
				div.col-xs-12.col-sm-6.text-right
					a(href="/login") Ya tengo una cuenta